@charset "utf-8";
/* CSS Document */

@media (max-width: 600px) {
    #home {
        padding: 32px 16px !important
    }

    main > section {
        padding: 0px 16px;
    }

    #userAside {
        display: none;
        z-index: 5;
        width: 100%;
    }

    #requestPanel form {
        width: 100%;
    }

    #gameOfYrDesc >div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    #home {
        padding: 32px 32px !important
    }

    #headerCategories > div {
        width: 80%;

    }

    #headerCategories {

        position: absolute;
        right: 0;
        bottom: 0;

    }

    main > section {
        padding: 0px 32px;
    }

    #userAside {
        display: none;
        z-index: 5;
        width: 50%;
    }

    #requestPanel form {
        width: 70%;
    }


    #gameOfYrDesc{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        -ms-transform: translate(-0%, -50%)
    }
    #gameOfYrDesc >div{
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        -ms-transform: translate(-0%, -50%)
    }
}

@media (min-width: 993px) {
    #home {
        padding: 32px 64px !important
    }

    #headerCategories > div {
        width: 100%;

    }

    #headerCategories {

        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);

    }

    main > section {
        padding: 0px 64px;
    }

    #userAside {
        display: none;
        z-index: 5;
        width: 30%;
    }

    #requestPanel form {
        width: 50%;
    }

    #gameOfYrDesc >div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
}

nav ul li > div {
    display: inline-block;
    text-align: right;
}

nav ul li > div:hover {
    opacity: 0.60;
    filter: alpha(opacity=60);
    -webkit-backface-visibility: hidden;
    cursor: pointer;
}


